<!DOCTYPE html>
<htm lang=en>
    <head>

        <meta charset="utf-8">
        <title>Saved Articles</title>
       
        <link rel="stylesheet" href="{{url_for('static',filename='pmain.css')}}">
        <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap.css')}}">

        
        <style>
          h2,h3{
              text-align: center;
          }
          p{
              text-align: center;
          }
      </style>
        
    </head>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" >

            <a href="{{url_for('index')}}"><img src="https://tse2.mm.bing.net/th?id=OIP.ozqRTVFAyhLD5PaJaipsZgHaIm&pid=Api&P=0&w=300&h=300" width="30" height="30" class="d-inline-block align-top" alt=""></a>
            &nbsp;&nbsp;&nbsp;
            <a class="navbar-brand" href="#">SMIT</a>
            <div class="collapse navbar-collapse ml-auto" id="navbarNavAltMarkup">
              <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" href="{{url_for('about')}}">about</a>
                <a class="nav-item nav-link" href="{{url_for('saved')}}">saved</a>
                <a class="nav-item nav-link" href="{{url_for('post')}}">post</a>
              </div>
            </div>
          </nav>
          </nav>

    </header>
    <br><br><br><br>
    <section class="container">
      <div class="row">
          <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="static/techa.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">It is the technical event which is going to be to held on 18th of march.It also includes different types of technical event which is a source for all the student to learn and experience</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="static/hack.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Hackathon hosted by the Decoders Club was held on 9th of Feburary 2020. It proved to be a successfull event and many students particapipated</p>
              </div>
            </div>
          </div>
  
      </div>

  <!---The second set of news cards ---->
  </section>
    <br><br><br>
    <footer class="container" >
      <hr>
      <h3>
          Contact Us
      </h3>
      <p>Address: Majhitar,Rangpo-737132.<br>Phone Number: 03592-246020</p>
      <hr>
     
  </footer>


    </htm>