<!DOCTYPE html>
<htm lang=en>
    <head>

        <meta charset="utf-8">
        <title>Saved Articles</title>
       
        <link rel="stylesheet" href="{{url_for('static',filename='pmain.css')}}">
        <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap.css')}}">
        
    </head>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" >
            <a href="{{url_for('index')}}"><img src="https://tse2.mm.bing.net/th?id=OIP.ozqRTVFAyhLD5PaJaipsZgHaIm&pid=Api&P=0&w=300&h=300" width="30" height="30" class="d-inline-block align-top" alt=""></a>
            &nbsp;&nbsp;&nbsp;
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="{{url_for('about')}}">about</a>
                <a class="nav-item nav-link" href="{{url_for('saved')}}">saved</a>
                <a class="nav-item nav-link" href="{{url_for('post')}}">post</a>
              </div>
            </div>
          </nav>
          </nav>

    </header>
    <h1>some stuff here</h1>
    </htm>